- name: Disable Bluetooth
  ansible.builtin.lineinfile:
    insertafter: \[all\]
    line: dtoverlay=disable-bt
    dest: /boot/firmware/config.txt
  notify:
    - Reboot

- name: Enable PiTFT
  ansible.builtin.lineinfile:
    insertafter: \[all\]
    regexp: ^dtoverlay=pitft22,
    line: dtoverlay=pitft22,fps=60
    dest: /boot/firmware/config.txt
  notify:
    - Reboot

- name: Configure GPIO key bindings
  ansible.builtin.lineinfile:
    insertafter: \[all\]
    regexp: ^dtoverlay=gpio-key,gpio={{ item.pin }},
    line: dtoverlay=gpio-key,gpio={{ item.pin }},keycode={{ item.key }}
    dest: /boot/firmware/config.txt
  loop:
    # Key codes listed in https://github.com/torvalds/linux/blob/master/include/uapi/linux/input-event-codes.h
    - {pin: 17, key: 116}  # KEY_POWER
    - {pin: 22, key: 408}  # KEY_REBOOT
    - {pin: 16, key: 57}   # KEY_SPACE
    - {pin: 23, key: 16}   # KEY_Q
  notify:
    - Reboot

- name: Set up framebuffer console
  ansible.builtin.replace:
    regexp: " rootwait (.+| *)quiet "
    replace: " rootwait consoleblank=0 fbcon=map:10 fbcon=rotate:{{ pitft_rotate }} quiet "
    dest: /boot/firmware/cmdline.txt
  notify:
    - Reboot

- name: Check if we are already configured to boot to console
  ansible.builtin.command: systemctl get-default
  register: common_systemctl_default_target
  changed_when: true

- name: Boot to console
  ansible.builtin.command:
    cmd: raspi-config nonint do_boot_behaviour B2
    creates: /etc/systemd/system/getty@tty1.service.d/autologin.conf
  notify:
    - Reboot
  when: common_systemctl_default_target.stdout != 'multi-user.target'
